<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>



<body class="container" style = 'width: 100%;'>
    <%- include('../partials/navbar'); %>
    <!-- This is my header where I hold my application title: -->
    <header style = 'padding-top:3%;padding-bottom:1%;text-align: center; width: 100%;'>
        <%- include('../partials/header'); %>
    </header>
    <!-- This is my main section -->
    <main style = 'padding-top:2%;padding-bottom:3%;'>
        <div class = 'forms' id = 'forms' >

                    <%- include('../partials/forms_reports/updatefriendform'); %>
                    

                
            </form>
        </div>
    




    




    </main>

    <footer style='position:fixed;
    left:0px;
    bottom:0px;
    height:5%;
    width:100%;'>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>